/* Button Styles */
.button {
    background-color: #6CB4EE; /* New blue color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* Medium size for buttons */
}

/* Add margin-bottom to the first button */
#education .button:first-of-type {
    margin-bottom: 20px; /* Adds space below the first button */
}

/* Add margin-top to the second button to create space between them */
#education .button:last-of-type {
    margin-top: 20px; /* Adds space above the second button */
}

.button:hover {
    background-color: #5a99cc; /* Darker blue for hover */
}
